<html>
    <head>
        <title>Christian Bale Quotes</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/jaimeyf/styles.css">
    </head>
    <body>
        <header>
            <h1>Christian Bale Quotes</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quote">Quote</a></li>
                    <li><a href="/show_all">Show All</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}

        <footer>
            Jaimey Frank 2024<br>
            jaimeyf@bu.edu
        </footer>
    </body>
</html>