{% extends "voter_analytics/base.html" %}

{% block content %}
<h2>Voter Graphs</h2>
<form method="get">
    {{ filter_form.as_p }}
    <button type="submit">Filter</button>
</form>
<div>
    <h3>Distribution of Voters by Year of Birth</h3>
    <div>{{ graph1|safe }}</div>
</div>
<div>
    <h3>Distribution of Voters by Party Affiliation</h3>
    <div>{{ graph2|safe }}</div>
</div>
<div>
    <h3>Distribution of Voters by Participation in Elections</h3>
    <div>{{ graph3|safe }}</div>
</div>
{% endblock %}