{% extends "mini_fb/base.html" %}

{% block content %}

<h2>{{ profile.first_name }} {{ profile.last_name }}'s Profile</h2>
<table>
<td class="profile_image"><img src="{{ profile.profile_picture }}" alt="Profile Image"></td>
<td>{{ profile.first_name }} {{ profile.last_name }}<br>{{ profile.city }}</td>
</table>

{% if user.is_authenticated and user == profile.user %}
    <h4><a href="{% url 'create_status' %}">Create Status Message</a></h4>
    <h4><a href="{% url 'update_profile' %}">Update Profile</a></h4>
    <h4><a href="{% url 'friend_suggestions' %}">Friend Suggestions</a></h4>
    <h4><a href="{% url 'news_feed' %}">News Feed</a></h4>
{% endif %}

<h3>Friends</h3>
<ul>
    {% for friend in profile.get_friends %}
        <li>
            <img src="{{ friend.profile_picture }}" alt="Profile Image" style="width: 50px; height: 50px;">
            <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
        </li>
    {% endfor %}
</ul>

{% for post in profile.get_status_messages %}
    <div class="status">
        {% for img in post.get_images %}
            <img src="{{ img.image_file.url }}" alt="Image for {{ status.message }}">
        {% endfor %}
        <h3>{{ post.message }}</h3>
        <p>{{ post.timestamp }}</p>
        {% if user.is_authenticated and user == profile.user %}
            <br><a href="{% url 'delete_status' post.pk %}">Delete</a>
            <br><a href="{% url 'update_status' post.pk %}">Update</a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}